{% extends 'base.html.twig' %}
{# {% block title %}Add Recipe{% endblock %} #}
{% block title 'Add Vidéo'%}
{% block body %}
    <div class = "row">
        <div class= "col-md-6 mx-auto">
            <h1 align="center">Créer une nouvelle Vidéo</h1>  
            <br>
            {{form(form)}}
        </div>
    </div>
{% endblock %}
