{# templates/subscription/success.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ message }}</h1>
    <p><a href="{{ path('home') }}">Retour à l'accueil</a></p>
{% endblock %}
